In [2]:
print("qasimli ali")

qasimli ali

In [5]:
x=str(3.2)
print(x)

3.2

In [6]:
x=int(10.3)
print(x)

10

In [8]:
#for string floats
print(float("-3.33333"))

-3.33333

In [12]:
list=["ata", "ana", "baba"]
print(list)

['ata', 'ana', 'baba']

In [13]:
tuple=("ata", "ana", "baba")
print(tuple)

('ata', 'ana', 'baba')

In [14]:
x=range(4, 8)
for n in x:
    print(n)

4
5
6
7

In [15]:
print(bool(6>3))

True

In [17]:
print(bool(3<6))

True